/* Resetear estilos por defecto del navegador */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para la navegación */
nav {
    background-color: #555;
    padding: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
}
